/* Variables */
$base-font-color: #032B43;
$base-hover-color: #e6e6e6;
$accent-color: #F92954;
$accent-color-hover: #d02246;
$base-red-background: #DE4C56;
$base-light-blue: #AED6EA;
$base-blue-background: #7B99B3;
$base-light-gray: #EBEBEB;
$base-background-color: #F9F5F2;
$green: #57ac6f;
$red: #df280a;


