/* Variables */
.product > div:not(:first-child), .product #shopify-section-card .card-container {
  margin: 50px auto;
}
.product .header {
  position: relative;
}
.product .header img {
  width: 100%;
  min-height: 50vh;
  max-height: 100vh;
  object-fit: cover;
  object-position: center;
}
.product .header .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.product #previous-slide,
.product #next-slide {
  font-size: 2em;
  cursor: pointer;
}
.product #previous-slide:hover,
.product #next-slide:hover {
  color: #F92954;
}
.product .arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product .product-image-slider-nav div {
  padding: 5px;
}
.product .product-image-slider {
  opacity: 0;
}
.product .product-image-slider .slick-slide:first-child:before {
  content: " ";
  background: url("https://i.imgur.com/lo6JIaP.png") no-repeat center center;
  background-size: 60px 60px;
  opacity: 1;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translate(25px) rotate(5deg);
  animation: swipeAnimation 4s forwards;
}
@keyframes swipeAnimation {
  20%, 60%, 99% {
    transform: translate(-50px) rotate(-10deg);
    opacity: 1;
  }
  40%, 80% {
    transform: translate(50px) rotate(10deg);
  }
  100% {
    opacity: 0;
    transform: translate(-50px) rotate(-10deg);
  }
}
.product .product-image-slider img {
  width: 100%;
  margin: 0 auto;
}
.product .slider-navigation-image {
  text-align: center;
  cursor: pointer;
}
.product .slider-navigation-image img {
  width: 100%;
  margin: 0 auto;
}
.product .product-available {
  color: #57ac6f;
}
.product .discounted,
.product .product-discount-percentage,
.product .product-soldout {
  color: #df280a;
}
.product .product-information {
  margin-top: 3vh;
}
.product .additional-sale * {
  margin-right: 5px;
}
.product .additional-sale a {
  color: #032B43;
}
.product .additional-sale img {
  width: 75px;
}
.product #Quantity {
  width: 15%;
  display: inline-block;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin: 0 0.5rem 0 0;
  -webkit-appearance: none;
  text-align: center;
}
.product #AddToCart {
  font-family: Futura, sans-serif;
  text-transform: uppercase;
  background: #F92954;
  color: white;
  border: 0;
  width: 100%;
  margin: 0;
}
.product #AddToCart:hover {
  color: #F92954;
  background: white;
}
.product .description {
  margin-top: 0.5rem;
}
.product .small-product-information {
  text-align: center;
  padding: 40px 0;
}
.product .small-product-information img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 10px auto;
}
.product .arBtn {
  margin-bottom: 0.5rem;
  color: white;
  background-color: #F92954;
}
.product .modal .modal-dialog {
  max-width: 100vw;
  margin: 0;
}
.product .modal .modal-dialog .modal-header .modal-title {
  line-height: 2.5rem;
}
.product .modal .modal-dialog .modal-header button {
  font-size: 2rem;
}
.product .modal .modal-dialog .modal-body {
  padding: 0;
}
.product .modal .modal-dialog .modal-body model-viewer {
  width: 100vw;
  height: 75vh;
}
.product .facts {
  text-align: center;
}
.product .facts .facts-dropdown {
  margin-top: 30px;
}
.product .facts .accordion {
  text-align: left;
}

@media all and (min-width: 992px) {
  .product > div:not(:first-child), .product #shopify-section-card .card-container {
    margin: 60px auto;
  }
  .product .product-image-slider .slick-slide:first-child:before {
    animation: none;
    transform: none;
    background: none;
    display: none;
  }
  .product #Quantity {
    width: 10%;
  }
  .product .modal .modal-dialog {
    margin: 1.75rem auto;
    width: 80vw;
    max-width: 1180px;
  }
  .product .modal .modal-dialog .modal-body {
    padding: 0;
  }
  .product .modal .modal-dialog .modal-body model-viewer {
    width: 80vw;
    max-width: 1180px;
    height: 80vh;
  }
  .product .facts {
    text-align: left;
  }
  .product .facts .facts-dropdown {
    margin-top: 0;
  }
}

/*# sourceMappingURL=product.css.map */
