<div class="product">
  {% section 'product-header' %}
  {% section 'small-product-information' %}
  {% section 'product-card' %}
  {% section 'product-details' %}
  {% section 'wavell-fact-box' %}
  {% section 'product-video-and-facts' %}
  {% section 'product-qa' %}
</div>
